/*----- fonts -----*/

@font-face {
	font-family: LobsterRegular;
	src: url('../fonts/Lobster-Regular.ttf');
}

@font-face {
	font-family: SyneRegular;
	src: url('../fonts/Syne-Regular.ttf');
}

@font-face {
	font-family: VarelaRound;
	src: url('../fonts/Varela_Round/VarelaRound-Regular.ttf');	
}

/*----- Reset -----*/

*{
	box-sizing: border-box;
}

html, body{
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: VarelaRound;
	font-size: 16px;
	font-weight: 600;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/*----- Variables -----*/
:root {
	--calendar-width: 22.5rem;
}

body > header, body > main, body > footer {
	width: 100%;
	margin: 0 auto;

	max-width: 48rem;
}

body > header {
	margin-bottom: 10px;
}

.banner-container {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-end;
}

.banner {
	font-family: LobsterRegular;
	font-weight: bold;
	font-size: 1.5rem;
	padding-left: 5px;

	display: flex;
	flex-direction: row;
	align-items: center;
	color: darkgoldenrod;
}

.location {
	font-family: SyneRegular;
	font-size: 1rem;
	margin-top: -5px;
	color: goldenrod;
}

.start-end-calendar-container {
	display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: antiquewhite;
    padding: 1rem 0;
}

.start-end-calendar-container > div {
	width: 10rem;

	display: flex;
	align-items: center;
	cursor: pointer;
}

.start-end-calendar-container span {
	font-size: 0.75rem;
}

.start-end-calendar-container .noSelectedDate {
	color: lightblue;
}

.start-end-calendar-container .withSelectedDate {
	color: darkblue;
}

.rooms header {
	margin-bottom: 2rem;
}

.guest-details header {
	margin-bottom: 2rem;
}

.detail {
	display: flex;
}

.detail-input {
	display: flex;
	flex-direction: column;

	flex-grow: 1;
	margin-bottom: 1.5rem;
}

.detail-input label {
	font-size: 0.7rem;
	margin-bottom: 5px;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

section {
	margin-bottom: 1.25rem;
}

.panel{
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 3px 5px -2px gray, 0px -1px 3px -3px gray; 			
}







