/*----- fonts -----*/

@font-face {
	font-family: MarckScriptRegular;
	src: url('../fonts/MarckScript-Regular.ttf');
}

@font-face {
	font-family: SyneRegular;
	src: url('../fonts/Syne-Regular.ttf');
}

@font-face {
	font-family: TitilliumSemiBold;
	src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

/*----- Reset -----*/

*{
	box-sizing: border-box;
}

html, body{
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: TitilliumSemiBold;
	font-size: 14px;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/*----- Variables -----*/
:root {
	--calendar-width: 22.5rem;
}

body > header, body > main, body > footer {
	width: 100%;
	margin: 0 auto;
}

body > header {
	margin-bottom: 10px;
}

.banner-container {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-end;
}

.banner {
	font-family: MarckScriptRegular;
	font-weight: bold;
	font-size: 1.5rem;
	padding-left: 5px;
}

.location {
	font-family: SyneRegular;
	font-size: 1rem;
}

.start-end-calendar-container {
	display: flex;
	flex-wrap: nowrap;
}

.start-end-calendar-container > div {
	flex-grow: 1;

	display: flex;
	border: 1px solid lightblue;
	align-items: center;
	cursor: pointer;
}

.start-end-calendar-container #checkInSelect, #checkOutSelect {
	color: lightblue;
}

.detail-input {
	display: flex;
	flex-direction: column;
	-ms-flex-align: start;
}

.hidden {
	display: none;
}


section {
	margin-bottom: 1.25rem;
}

.panel{
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 3px 5px -2px gray, 0px -1px 3px -3px gray; 			
}

main {
	max-width: 48rem;
}






