calendar-modal .calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: ivory;
}

calendar-modal .ok-container {
    display: flex;
    justify-content: center;
}

calendar-modal .button-ok {
    width: 6rem;
}