calendar-carousel-component {
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

calendar-carousel-component .prev-next {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: var(--calendar-width);
}

calendar-carousel-component .prev-next button {
    border: solid black;
    border-width: 0 0.35rem 0.35rem 0;
    display: inline-block;
    padding: 3px;
    width: 1rem;
    height: 1rem;
    background-color: white;
    outline: none;
    cursor: pointer;
}

calendar-carousel-component .prev-next-container {
    display: flex;
    justify-content: center;
}

calendar-carousel-component .prev-next .prev {
    transform: rotate(135deg);
}

calendar-carousel-component .prev-next .next {
    transform: rotate(-45deg);
}

calendar-carousel-component .prev-next button::before {
    content: "";
    border: 0.2rem solid black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -0.55rem;
    left: -0.55rem;
    box-shadow: 0px 3px 5px -2px grey, 0px -1px 3px -3px grey;
}

calendar-carousel-component .close-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1.25rem 0;
}

calendar-carousel-component .close-container > button {
    border: 0;
    background: none;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

calendar-carousel-component .calendars {
    margin-top: -1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
}
