
/*----- calendar -----*/
calendar-component {
	width: var(--calendar-width);
    height: var(--calendar-height);	
}

calendar-component .month {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0.5rem;
}

calendar-component .month-table {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

calendar-component .month-table table{
	border-spacing: 0;
}

calendar-component .month-table th{
	text-align: center;
	width: 3rem;
	font-weight: normal;
	padding: 0.5rem;
}

calendar-component .month-table td{
	text-align: center;
}

.current-date{
	border: 1px solid lightgray;
}

.selected-start-date{
	background-color: lightblue;
}

.selected-end-date{
	background-color: lightcyan;
}

.included-date{
	background-color: lightcoral;
}

.month-title{
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 0.9rem;
	border-bottom: 1px solid aliceblue;
	padding-bottom: 2px;
	font-weight: bold;
}

.month-title span {
	margin: 0 3px;
}


